*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Belanosima', sans-serif;
}
.botonesIndex{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.bg-dark {
    --bs-bg-opacity: 1;
    background-color: black!important;
}
.imgLogo{
    padding-right: 50px;
}
.form-select-sm{
    font-size: 20px; 
}
.bx{
    padding: 10px;
}
#botonCarrito{
    background-color: #FFC950;
}
.me-2 {
    margin-right: 30px !important;
}
#btnBuscar{
    background-color: #E5426E !important;
    color: white !important;
    --bs-btn-border-color: #E5426E !important;
}

.btn-success{
    background-color: #53399D !important;
    border: #53399D !important;
}

.body-info{
    display: grid;
    grid-template-areas: 
    "info" "botones";
    grid-template-columns: 50% 50%;
    grid-template-rows: 70%;
}
.info{grid-area: info;
    padding: 42px 5px;}
.cardPrincipal{
    display: flex;
    top: 1px;
    left: 47px;
}
.tituloInfo{
    font-size: 22px;
}

#verCatalogo{padding: 30px; font-size: 27px;}
#ocultarCatalogo{padding: 30px; font-size: 27px;}
.row{padding: 5px !important;}
.tituloFormulario{
    background-color: #5DB8A8;
    text-align: center;
}
.btn-outline-success{
    color: #5DB8A8 !important;
    --bs-btn-border-color: #5DB8A8  !important;
    --bs-btn-hover-bg: black !important;
    --bs-btn-hover-border-color: black !important;
}